*.gif filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
public/img/portfolio/rapiddo/rapiddo06.gif filter=lfs diff=lfs merge=lfs -text
